@import "../../constants.style.scss";

.img {
  border-radius: 40px;
  height: 710px;
  object-fit: cover;
  width: 350px;
}

.works {
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;

  h2 {
    color: $color-primary;
    font-size: 36px;
    padding-top: 25px;
  }

  .works-container {
    margin-top: 50px;
    overflow: hidden;
    padding: 0;
    position: relative;

    .works-list {
      display: flex;
      gap: 20px;
      left: 0;
      position: relative;
      transition: 0.5s ease-in-out all;

      img,
      video {
        @extend .img;
        cursor: pointer;
        filter: grayscale(1);
        margin: 0 1px;
        transform: scale(0.8);
        transition: 0.5s ease-in-out all;
        width: 348px;

        &.active {
          filter: grayscale(0);
          transform: scale(1);
        }
      }
    }

    .phone-frame {
      @extend .img;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transform: scale(1.01);
    }

    .phone-frame-selectors {
      backdrop-filter: drop-s;
      color: #fff;
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;

      &.disable {
        cursor: not-allowed;
        opacity: 0.2;
        pointer-events: none;
      }

      &.hidden {
        opacity: 0;
        transform: scale(0);
      }

      &.left {
        left: 10px;
      }

      &.right {
        left: 310px;
      }
    }
  }
}

@media (max-width: 580px) {
  .works {
    .works-container {
      margin: 50px auto;
      width: 90%;
    }
  }
}

@media (max-width: 400px) {
  .works {
    .works-container {
      border: solid 1px #fff;
      border-radius: 32px;

      .phone-frame,
      .works-list {
        max-width: 100%;
      }

      .works-list {
        img {
          max-width: 100%;
        }
      }

      .phone-frame-selectors {
        &.left {
          left: 5%;
        }

        &.right {
          left: 85%;
        }
      }
    }
  }
}
