@import "../../constants.style.scss";

.services {
  position: relative;

  h2 {
    padding-top: 100px;
  }

  .services-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    overflow: visible;
    position: relative;

    .summary-square {
      @include displayFlex;
      flex-direction: column;
      min-height: 250px;
      position: relative;

      img {
        height: 75px;
        width: 75px;
        object-fit: contain;
      }

      h3 {
        color: #fff;
        text-align: center;
      }

      p {
        color: rgba($color: #fff, $alpha: 0.7);
        text-align: center;
      }
    }
  }
}

@media (max-width: 1004px) {
  .services {
    .services-container {
      gap: 20px;

      .summary-square {
        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .services {
    .services-container {
      grid-template-columns: 1fr 1fr;

      .summary-square:nth-last-child(1) {
        grid-column: span 2;
      }
    }
  }
}

@media (max-width: 730px) {
  .services {
    .services-container {
      grid-template-columns: 1fr;

      .summary-square:nth-last-child(1) {
        grid-column: span 1;
      }
    }
  }
}
