@import "../../constants.style.scss";

.home {
  padding-bottom: 120px;
  padding-top: 75px;
  position: relative;

  .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;

    .row-3,
    .row-2 {
      align-items: center;
      flex-direction: column;
      grid-column: span 3;
      grid-row: span 1;

      justify-content: center;

      .card-summary-horizontal-caption {
        text-align: center;
      }
    }

    .row-2 {
      grid-column: span 2;
    }

    .infinite-text {
      @include card("light", 17px);
      @include glassCard;
      border-radius: 25px;
      font-weight: 600;
      grid-column: span 2;
      overflow: hidden;
      position: relative;
      width: 100%;

      p {
        align-items: center;
        animation: wheel 5s infinite linear;
        color: #fff;
        cursor: default;
        display: flex;
        font-size: 16px;
        gap: 10px;
        height: 100%;
        left: -0%;
        margin: 0;
        position: relative;
        width: fit-content;
      }

      svg {
        font-size: 16px;
      }
    }
  }
}

@keyframes wheel {
  0%,
  100% {
    left: 0%;
  }
  50% {
    left: calc(100% - 270px);
  }
}

.badge {
  border: solid 1px $color-primary;
  position: relative;

  p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    opacity: 0.7;
    padding: 0;
  }
}
