@import "../../constants.style.scss";

.header {
  backdrop-filter: blur(0) brightness(1);
  background: transparent;
  height: 75px;
  position: sticky !important;
  top: 0;
  transition: 0.25s ease-in-out all;
  width: 100%;
  z-index: 2;

  &.fixed {
    backdrop-filter: blur(20px) brightness(0.7);
    background: linear-gradient(
      transparent 0%,
      rgba($color: #000, $alpha: 0.25) 100%
    );
    box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.1);
    transition: 0.25s ease-in-out all;
  }

  .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }

  .navbar-nav {
    gap: 10px;

    a {
      &:hover,
      &:active,
      &.active {
        color: $color-primary;
        opacity: 0.7;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .link-btn {
    @include link-btn;
    background-color: $color-primary;
    width: 150px;

    &:hover {
      background-color: #fff;
      color: $color-primary;
    }
  }

  .container {
    a {
      img {
        height: 65px;
        width: fit-content;
      }
    }

    .hamburger-menu {
      color: #fff;
      height: 50px;
      margin-left: 20px;
      position: relative;
      width: 50px;

      svg {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: 0.5s ease-in-out all;
        width: 100%;

        &.hamburger {
          transform: scale(1);

          &.visible {
            transform: scale(0);
          }
        }

        &.close {
          transform: scale(0);

          &.visible {
            transform: scale(1);
          }
        }
      }
    }

    .hamburger-menu-container {
      background: #000;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.1);
      opacity: 0;
      padding: 10px;
      position: fixed;
      right: 20px;
      top: 80px;
      transition: 0.5s ease-in-out all;
      transition: 0.25s ease-in-out all;
      width: 350px;

      &.visible {
        opacity: 1;
      }

      a {
        border-bottom: solid 1px $color-neutral;
        padding: 1em;

        &:hover,
        &:active,
        &.active {
          color: $color-primary;
          opacity: 0.7;
        }

        &.active {
          opacity: 1;
        }

        &:nth-last-child(1) {
          border-bottom: none;
        }
      }
    }

    .hamburger-menu,
    .hamburger-menu-container {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .header {
    .container {
      .menu-bar {
        display: none;
      }

      .hamburger-menu,
      .hamburger-menu-container {
        display: block;
      }
    }
  }
}
